.character
    skills(character=character)
    resource(editable=editmode, resource=character.resources.telo, class="telo")
    resource(editable=editmode, resource=character.resources.duse, class="duse")
    resource(editable=editmode, resource=character.resources.vliv, class="vliv")
